body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #dbe2d8;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #aeb1a1;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0 0 10px;
    color: #102427;
}

address {
    font-style: normal;
}

section {
    margin-bottom: 20px;
}

h2 {
    margin: 0 0 10px;
    color: #102427;
}

article {
    margin-bottom: 15px;
}

article h3 {
    margin: 0 0 5px;
    color: #0c221b;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

li {
    margin-bottom: 5px;
}

.skills ul {
    columns: 2;
}

.skills ul li {
    margin-bottom: 5px;
    column-break-inside: avoid;
}
strong {
    margin: 0 0 5px;
    color: #161615;
}

@media screen and (max-width: 600px) {
    .container {
        padding: 10px;
    }

    header h1 {
        font-size: 24px;
    }

    address {
        font-size: 14px;
    }

    section {
        margin-bottom: 15px;
    }

    h2 {
        font-size: 20px;
    }

    article h3 {
        font-size: 18px;
    }

    ul {
        font-size: 16px;
    }
}
